@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --usercard-width: 450px;
}

body {
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}

li+li {
    margin-top: 4rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h1 {
    position: relative;
    top: 120px !important;
    text-align: center;
    font-size: 2.5em !important;
    color: whitesmoke !important;
    font-family: 'Press Start 2P', cursive !important;
}

img {
    border-radius: 12px;
    width: var(--usercard-width);
}

form {
    color: whitesmoke;
    border: 1px solid green;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

input {
    cursor: pointer;
}

article.react-activity-calendar {
    width: var(--usercard-width) !important;
    position: absolute;
    top: 0px;
    background-color: #333;
    opacity: 0.7;
}