body {
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}

li + li {
    margin-top: 4rem;
}
 ul {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
 }

 h1 {
     position: relative;
     top: 120px !important;
     text-align: center;
 }

 img {
     border-radius: 12px;
 }